//===============================================================================
// LAYOUT
//===============================================================================

// BASE TYPE STYLES
//===============================================================================
html { font-size: $base-font-size; }

body {
  background-color: $paper;
  color: $ink;
  font-family: $body-font;
  line-height: 1.4;

  &::selection {

  }
}

// HEADER STYLES
//===============================================================================
h1, h2, h3, h4, h5, h6 {
  color: $header;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: $alpha;
}

h2 {
  font-size: $beta;
}

h3 {
  font-size: $gamma;
}

h4 {
  font-size: $delta;
}

h5 {
  font-size: $epsilon;
}

h6 {
  font-size: $zeta;
}

// text element styles
//===============================================================================
p {

}

span {

}

a {
  color: $link;

  &:hover {

  }

  &:active {

  }

  &:visited {

  }
}

blockquote {

}

i,
em {

}

b,
strong {

}

small {
  
}

// list styles
//===============================================================================
ul {

}

ol {

}

li {

}

ul.text-list {
  list-style: disc;
}

// code styles
//===============================================================================
pre {

}

code {

}

kbd {

}